<!-- Pariket #301315508 -->

<!DOCTYPE html>
<html lang="en">
<head>
  

    <div class="header-logo">
        <img src="https://lh3.googleusercontent.com/a/ACg8ocKO17g2lo3xkckpFKpSn8m_thMwLWUxymJoDNfzTDP42A=s96-c-rg-br100" alt="Logo">
    </div>
</head>
<body>
   
    <%- include('partials/header') %>

    <!-- Main content for the About Me Page -->
    <section class="about">
        <h1>About Me</h1>
        <img src="https://drive.google.com/file/d/17SBfHiTlzRvUkiltjZO6WN8C4-yvxC2s/view?usp=drive_link" style="height: 177px;" alt="My Profile Image">
        <p>Hello, I'm Pariket. I am passionate about web development and gaming technology.</p>
        <p>Here's a little more about me...</p>
        <a href="/projects" style="color: aqua;">View My Projects</a>



    </section>

    <div class="about-me">
      
      <div class="box">  <p>Hi there! I'm Pariket Nagwani, and I like to think of myself as an explorer and tinkerer in the world of technology. I have a unique ability for critical thinking, which I believe is the key to finding creative solutions to complex problems. I'm a firm believer in the power of smart work over hard work, and I'm always on the lookout for innovative ways to achieve my goals.</p> </div>
      <div class="box">   <p>One thing I'm immensely grateful for is the opportunity to be a part of this world where endless possibilities exist.</p>  </div>
        <div class="box">   <p>My educational background includes a degree in Advanced Gaming Technologies, where I've refined my skills and knowledge in the exciting world of game development.</p> </div>
      
            <div class="box">  <p>If you'd like to learn more about my professional background, feel free to check out my <a href="https://drive.google.com/file/d/1sBt_uNDblDJjxLI0Q3DAQQAPXeCLyT0q/view?usp=sharing" style="color: aqua;">Resume</a>.</p> </div>
    </div>

    
    <%- include('partials/footer') %>
</body>
</html>
