<!-- Pariket #301315508 -->

<!DOCTYPE html>
<html lang="en">
<head>
  

    <div class="header-logo">
        <img src="https://lh3.googleusercontent.com/a/ACg8ocKO17g2lo3xkckpFKpSn8m_thMwLWUxymJoDNfzTDP42A=s96-c-rg-br100" alt="Logo">
    </div>
</head>
<body>
   
    <%- include('partials/header') %>

    <!-- Main content for the About Me Page -->
    <section class="about">
        <h1>About Me</h1>
        <img src="https://lh3.googleusercontent.com/pw/ADCreHfSF64mL5SF1peeZ-Lppc0aBpDx_T8w8vUM0RJre3jq7Z8TGGtYsAmQA3tb0eiuGlEwEVC2TQHAbcytlC3mfnLEKmkxRi4bBax6qCF5xRG8jMsO8RjLFmDbrj4L2nQq3twjX1weteNfMSRN91a939XpoupebkFV6erT699lMfw-kbpIi8RzWiDorRN8TGIhuBic7gmir4_14GWVlb1iDIgONkk6tGlrXNRAXIQZ2k1qqn61gZYBzy6NkvJemO7zj4uMT1jSTnSHmavSHnPthKxWxbOtksMnP4f5EAD-fC9j6gESAZBDpH6MbrQWAUY1ZQT6WpFmYbeistvujqodhuetRjMa0qChPKuqoDiuAKhYYERIkod7e7b5B_YOCtFtef_3tSn-z3OslgTy49nf4nhh6rRl-x6gFVJ8Yz-norWn-hnUx54Ki7WCe_oFNEoQQX1zta7KKtrHSwcjpCKXHu60YXNBZo_m9xJAD8YAXmbHaSsXuWhNkRZjYXHS7q3JT9qM6dXbp50cWo3RXP6tLDw_MxIXE-vUmyMsR2r8Z4Zki6eMQ_fklP85h8LfHmvJ4YutaaeCFRG-WfDqmPlWXZhZd8s988L61SUro-5Tm5LxUZvaWZ0pjYJMw5oaZYDB_jY3DXoaL4Eek9wf1a2qBVpHZgxFoCJoJDMLEFq6xJPx_2WcqiYE0X8ZBA3rODFhqhTVuJpCjnrCt8XI_oJogeJWtSq1lBdhOAiRQs_lRUqdOt9fqPkdToMUemvXzVA7GMt3AHOzCOWQ1f-TEjhcGC08yfkqi_p02dmC4LU-xC0KkyejDu7QghuUY7sHCZuFASuJBAquHE8Tjr9UseCpCA-t7gxdmG87DL3DZtHF6dvXjpBxGf0P17_UyM4CV6N02mdTKwSbZyF9A20mNnzdprcx_bS8fYDM8eoR0JZKuK_zz0zAEwa-r0e2gzmTyvY=w1277-h958-s-no?authuser=1" style="height: 177px;" alt="My Profile Image">
        <p>Hello, I'm Pariket. I am passionate about web development and gaming technology.</p>
        <p>Here's a little more about me...</p>
        <a href="/projects" style="color: aqua;">View My Projects</a>



    </section>

    <div class="about-me">
      
      <div class="box">  <p>Hi there! I'm Pariket Nagwani, and I like to think of myself as an explorer and tinkerer in the world of technology. I have a unique ability for critical thinking, which I believe is the key to finding creative solutions to complex problems. I'm a firm believer in the power of smart work over hard work, and I'm always on the lookout for innovative ways to achieve my goals.</p> </div>
      <div class="box">   <p>One thing I'm immensely grateful for is the opportunity to be a part of this world where endless possibilities exist.</p>  </div>
        <div class="box">   <p>My educational background includes a degree in Advanced Gaming Technologies, where I've refined my skills and knowledge in the exciting world of game development.</p> </div>
      
            <div class="box">  <p>If you'd like to learn more about my professional background, feel free to check out my <a href="https://drive.google.com/file/d/1sBt_uNDblDJjxLI0Q3DAQQAPXeCLyT0q/view?usp=sharing" style="color: aqua;">Resume</a>.</p> </div>
    </div>

    
    <%- include('partials/footer') %>
</body>
</html>
