<!-- Pariket #301315508 -->


<!DOCTYPE html>
<html lang="en">
<head>
   

    <div class="header-logo">
        <img src="https://lh3.googleusercontent.com/a/ACg8ocKO17g2lo3xkckpFKpSn8m_thMwLWUxymJoDNfzTDP42A=s96-c-rg-br100" alt="Logo">
    </div>

</head>
<body class="spider">
    
    <%- include('partials/header') %>

    <!-- Main content for the Contact Page -->
    <section class="contact">
        <h1>Contact Me</h1>
        <h2><p>Have questions or want to discuss a project? Feel free to reach out to me:</p></h2>
        <form action="/send-message" method="POST">
            <input type="text" name="firstName" placeholder="First Name" required >
            <input type="text" name="lastName" placeholder="Last Name" required>
            <input type="tel" name="contactNumber" placeholder="Contact Number">
            <input type="email" name="email" placeholder="Email Address" required>
            <textarea name="message" placeholder="Your Message" rows="2" required style="font-size: 27px;"></textarea> <br>
            <button type="submit" style="font-size: 28px;">Send Message</button>
        </form>


      
        
    </section>


    <%- include('partials/footer') %>
</body>
</html>
