<!-- Pariket #301315508 -->

<!DOCTYPE html>
<html lang="en">
<head>
  
    <div class="header-logo">
        <img src="https://lh3.googleusercontent.com/a/ACg8ocKO17g2lo3xkckpFKpSn8m_thMwLWUxymJoDNfzTDP42A=s96-c-rg-br100" alt="Logo">
    </div>
    
</head>
<body>
 
    <%- include('partials/header') %>

    <!-- Main content for the Projects Page -->
    <section class="projects">
        <h1>My Projects</h1>

       
        <div class="project" style="display: inline-block; width: 30%; margin-right: 10px;">
            <img src="https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 299px;width: 270px;" alt="Project 1 Image">
            <h2>Virtual Reality Gaming</h2>
            <p>As a front-end developer, I enhanced VR gaming by creating immersive UI, optimizing navigation, and elevating the player's experience.</p>
            <p>My Role: Front-End Developer</p>
        </div>

        
        <div class="project" style="display: inline-block; width: 30%; margin-right: 10px;">
            <img src="https://images.pexels.com/photos/5380664/pexels-photo-5380664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 257px;" alt="Project 2 Image">
            <h2>Ethical Hacking</h2>
            <p>As a back-end developer, I strengthened our ethical hacking project, bolstering security, optimizing performance, and ensuring robust backend infrastructure .</p>
            <p>My Role: Back-End Developer</p>
        </div>

   
        <div class="project" style="display: inline-block; width: 30%;">
            <img src="https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 270px;width: 360px;" alt="Project 3 Image">
            <h2>Artificial Intelligence Development Phase</h2>
            <p>In the Artificial Intelligence development phase, I served as a Full-Stack Developer, contributing to a comprehensive AI solution's design and implementation. </p>
            <p>My Role: Full-Stack Developer</p>
        </div>

        <a href="/contact" style="color: aqua; font-size: 21px;">Get in Touch</a>
    </section>

    
    <%- include('partials/footer') %>
</body>
</html>
