<!-- Pariket #301315508 -->

<!DOCTYPE html>
<html lang="en">
<head>
   
    <div class="header-logo">
        <img src="https://lh3.googleusercontent.com/a/ACg8ocKO17g2lo3xkckpFKpSn8m_thMwLWUxymJoDNfzTDP42A=s96-c-rg-br100" alt="Logo">
    </div>
</head>
<body>
   
    <%- include('partials/header') %>

    <!-- Main content for the Services Page -->
    <section class="services">
        <h1>My Services</h1>
        <ul>
            <div class="servis" style="display: flex; flex-direction: row; justify-content: space-evenly; font-size: 27px;">
            
                <div class="serv" style="display: flex; flex-direction: column;">

            <li style="color: aqua; font-size: 27px; text-shadow: blue;">
                <img src="https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 300px;"  alt="Web Development">
              <br>  Web Development
            </li></div>
            
           
           <div class="serv" style="display: flex; flex-direction: column;"> <li style="color: aqua; font-size: 27px; text-shadow: blue; " >
                <img src="https://images.pexels.com/photos/4009621/pexels-photo-4009621.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 300px;" alt="vr" >
               <br> VR Home Setups
            </li> </div>

          <div class="serv" style="display: flex; flex-direction: column;">  <li style="color: aqua; font-size: 27px; text-shadow: blue; " >
                <img src="https://tse3.mm.bing.net/th/id/OIP.RwQm1bS-m83oa48r44CJrQHaEo?pid=ImgDet&rs=1" style="height: 300px;" alt="eth" >
              <br> Ethical Hacking Courses
            </li> </div>
</div>


        </ul>
        <p style="font-size: 50px;">I offer a range of services to help you achieve your goals. Let's work together!</p>
        <a href="/contact" style="color: aqua; font-size: 70 px;">Contact Me</a>
    </section>

    
    <%- include('partials/footer') %>
</body>
</html>
